<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name ="ErrorFile" xsi:type="File" fileName  ="C:\logs\OnlineBankingApi.log" layout ="
     ----------------------------------${level} (${longdate})---------------------------------${newline}
     ${newline}
     Call Function: ${callsite}${newline}
     Exception Type: ${gdc:ExceptionType}${newline}
     Exception Message: ${message}${newline}
     Stack Trace: ${gdc:StackTrace}${newline}
     InnerException Message: ${exception:format=InnerException.Message}${newline}
     InnerException Stack Trace: ${exception:format=InnerException.StackTrace}${newline}
     ClientIp: ${gdc:ClientIp}${newline}
     UserName :${gdc:UserName}${newline}"/>

    <target commandText="INSERT INTO tbl_ACBASoftwareLog ([Logger], [Message], [LogLevel],[CreatedOn],[StackTrace],[ExceptionType],[clientip],[UserName]) VALUES (@Logger,@Message,@LogLevel,@Date,@StackTrace,@ExceptionType,@ClientIp,@UserName);" xsi:type="Database" name="ErrorDatabase">
      <parameter name="@Date" layout="${date}"/>
      <parameter name="@Logger" layout="${gdc:Logger}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@StackTrace" layout="${gdc:StackTrace}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@ExceptionType" layout="${gdc:ExceptionType}"/>
      <parameter name="@ClientIp" layout="${gdc:ClientIp}"/>
      <parameter name="@UserName" layout="${gdc:UserName}"/>
    </target>

    <target name ="RequestFile" xsi:type="File" fileName  ="C:\logs\OnlineBankingApiRequests.log" layout ="
     ----------------------------------${level} (${longdate})---------------------------------${newline}
     ${newline}
     Call Function: ${callsite}${newline}
     ${gdc:Request}${newline}${newline}
     ${gdc:Response}${newline}
     ClientIp: ${gdc:ClientIp}${newline}
     UserName: ${gdc:UserName}${newline}"/>

    <target commandText="INSERT INTO tbl_digital_banking_json_data ([service_name], [reg_date], [call_method], [json_data], [request_headers],[client_ip]) VALUES (@Logger,@Date, @Call_method, @json_data, @request_headers, @ClientIp);"  xsi:type="Database" name="RequestDatabase">
      <parameter name="@Date" layout="${date}"/>
      <parameter name="@Logger" layout="${gdc:Logger}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@Call_method" layout="${gdc:CallMethod}"/>
      <parameter name="@Response" layout="${gdc:Response}"/>
      <parameter name="@ClientIp" layout="${gdc:ClientIp}"/>
      <parameter name="@UserName" layout="${gdc:UserName}"/>
      <parameter name="@json_data" layout="${gdc:Json}"/>
      <parameter name="@request_headers" layout="${gdc:Headers}"/>
    </target>
  </targets>
  <rules>
    <logger name ="errorLog" minlevel="Trace" writeTo="ErrorFile" />
    <logger name ="errorLog" minlevel="Error" writeTo="ErrorDatabase" />
    <logger name ="requestLog" writeTo="RequestFile" />
    <logger name ="requestLog"  writeTo="RequestDatabase" />
  </rules>
</nlog>
